My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        416,
        64
      ],
      "id": "f8912bb6-1a92-447a-ab6a-7e317f3457bb",
      "name": "WhatsApp Trigger",
      "webhookId": "d1cd25a6-107a-4f8c-bb51-5239642966c8",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "YNXyO9WBIo9dOE7d",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "845506211971517",
        "recipientPhoneNumber": "+91 7989169881",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1872,
        96
      ],
      "id": "86341ee0-d32b-4ccd-8d80-5e46242ee632",
      "name": "Send message",
      "webhookId": "89cbc666-a6b5-4492-9473-9ce3d9819662",
      "credentials": {
        "whatsAppApi": {
          "id": "hOTJ4P2cizGfiT5y",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "You are a you are an AI-powered personal farming assistant designed specifically for smallholder farmers in Kerala, India. Your goal is to provide helpful, accurate, and actionable guidance on farming activities while being culturally aware and easy to understand. Refined Rule After First Farmer Message:\n\nDetect the language.\n\nReply in the same language.\n\nAlways ask for these four details in the farmer’s language:\n\nLocation\n\nLand size\n\nIrrigation source\n\nSoil type\n\nRules and Guidelines:\n\n1. Language Detection:\n   - Detect the language of the user's message.\n   - If the message is in English, reply in English.\n   - If the message is in Malayalam, reply in Malayalam.\n   - Always reply in the same language as the user input.\n2. Focus on Kerala agriculture: Provide advice relevant to Kerala’s climate, soil types, and common crops.\n3. Personalized guidance: Take into account the farmer’s crop type, season, location, and farm size whenever possible.\n4. Practical solutions: Give clear, step-by-step instructions for planting, irrigation, pest management, harvesting, and post-harvest storage.\n5. Record-keeping support: Encourage and help farmers maintain simple farm activity records for learning and government schemes.\n6. Safety first: Never suggest harmful chemicals, unsafe practices, or illegal methods.\n7. Language and tone: Use simple, friendly, and respectful language. Prefer local context and examples familiar to Kerala farmers.\n8. Policy and schemes: When relevant, inform about Kerala-specific government schemes or subsidies.\n9. Limitations: Clearly mention if certain advice requires consultation with an expert, agricultural officer, or agronomist.\nBehavior:\n\n- Always start by understanding the farmer’s problem or question.\n- Provide step-by-step instructions or guidance wherever possible.\n- Encourage sustainable and organic practices when appropriate.\n- If asked about a crop or technique outside Kerala, clarify the limitation and give general advice only.\n- Never make assumptions about farm size or resources; always ask before giving recommendations.\n\nYour role is to be a reliable, safe, and easy-to-understand farming assistant, helping Kerala farmers improve productivity, reduce losses, and adopt better farming practices.\nhelpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1152,
        80
      ],
      "id": "80fed80e-2491-4938-8b60-de5857f67a1f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1024,
        320
      ],
      "id": "52db39fb-6426-41f2-8a6a-fa501b74d622",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "XN5OZCKn92OiQHEh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da4c1cf5-5de4-4651-aee1-f751bbe1ab3c",
              "name": "text",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        80
      ],
      "id": "a68ed4d2-14df-45d9-833f-f20d24c48356",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "7460da0b-8e45-419b-973f-aee300d8b544"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b700fe87-5ff1-48dc-8703-b37551dbb84a",
                    "leftValue": "={{ $json.messages[0].text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2c3ad94f-7f7a-437b-87a1-44fbd8b7a700",
                    "leftValue": "={{ $json.messages[0].image }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        624,
        64
      ],
      "id": "13eb8609-2ef9-4e93-9810-e7140f999709",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        800,
        -320
      ],
      "id": "092351f3-381a-4f45-b4ba-4449d068ffa6",
      "name": "get audio",
      "webhookId": "f9696444-c0b7-41ab-b959-aa444597d727",
      "credentials": {
        "whatsAppApi": {
          "id": "hOTJ4P2cizGfiT5y",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        -320
      ],
      "id": "52d81c9a-6710-418d-b7b9-c96f11dd4821",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "52rWmcq8xEBEwk55",
          "name": "whatsapp"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-1.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-1.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1232,
        -320
      ],
      "id": "f256b65c-6176-4ad0-81b2-2e09968bfc2f",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "XN5OZCKn92OiQHEh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0930278d-6fb0-497c-b423-c37596cb6900",
              "name": "text",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        -320
      ],
      "id": "66d2ba8c-d935-4fa1-a62a-4d44cd684b19",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "29c73ef0-1de4-4a4a-abd8-47c3c30e5f6b",
              "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].audio }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1504,
        80
      ],
      "id": "8645f566-3132-498c-969b-7d725d00b9f4",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('WhatsApp Trigger').item.json.messages[0].image.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        800,
        -128
      ],
      "id": "90b486d0-114a-47bd-a32f-9790e2d73a62",
      "name": "get image url",
      "webhookId": "194dee83-fc24-4c4a-8b0e-ba4b07b4c5ee",
      "credentials": {
        "whatsAppApi": {
          "id": "hOTJ4P2cizGfiT5y",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Bearer EAAK1WhlSRHIBPSFLC6gk3uRpa24VFn7oLKlRUE7mTtGPrgnwJm7ISxf34aRZA1ZBGZC9o8scurpMAyZCC2bcDzDadUPYF5S0JaufZB48iC1nrtLx3IyTNZAzh8s076tT0HbWDFwdOahSIwnJ9nwLPFfDjNLbXmsTZClUXAdJXtzhjN3WGiKT2Hf01BaYZA0YAFrvEgSZBSllmZBdu13bZATTVuQWfwCvkm4b7cgFP9QxQOaOwZDZD\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        -128
      ],
      "id": "2957fb19-9a3a-40b1-b424-eaa17d687637",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "You are an agricultural expert. Analyze the given image carefully.\n\n1. Identify the crop shown in the image. If unknown, state \"Not identifiable\".\n2. Check if there are any visible signs of disease or pest attack.\n   - If present, describe the symptoms clearly.\n   - Suggest simple, practical remedies in Malayalam that a farmer can follow.\n3. If the crop looks healthy, respond with a short positive message in Malayalam.\n\nAlways respond in Malayalam. Keep the explanation short and farmer-friendly.",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1216,
        -128
      ],
      "id": "e3699de0-264a-40c7-90cd-7198c9edb959",
      "name": "Analyze image",
      "credentials": {
        "googlePalmApi": {
          "id": "XN5OZCKn92OiQHEh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "438aaac7-3b34-4cee-a0d2-edbf45a40fd9",
              "name": "text",
              "value": "=# The user provided the following image and text.\n\n## Image Description:\n{{ $json.content }}\n\n## User Message:\n{{ $('WhatsApp Trigger').item.json.messages[0].image.caption ||\"എന്ത് സംഭവിച്ചു?\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        -128
      ],
      "id": "c867b6c6-41c6-4f57-a33d-96c71dfcc4d6",
      "name": "image + text"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19KbOAlCSsHyQRIZRKUIDrS4-MQXf3MOEjpOlDuQKqCg",
          "mode": "list",
          "cachedResultName": "framers database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19KbOAlCSsHyQRIZRKUIDrS4-MQXf3MOEjpOlDuQKqCg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19KbOAlCSsHyQRIZRKUIDrS4-MQXf3MOEjpOlDuQKqCg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1584,
        320
      ],
      "id": "790d8cdf-e665-4892-a0a5-33cc8b062673",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wbQT5fUabGLrtKCm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts [0].wa_id}}",
        "databaseName": "framers"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        1216,
        320
      ],
      "id": "366c3cc8-5b6f-47ac-8ee5-3b49ec39c583",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "1rakTlaFkGmzVdsb",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create an event in Google Calendar",
        "calendar": {
          "__rl": true,
          "value": "neerajneeru388@gmail.com",
          "mode": "list",
          "cachedResultName": "neerajneeru388@gmail.com"
        },
        "additionalFields": {
          "summary": "={{ $fromAI(\"eventName\", \"the name of the calendar event\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1408,
        320
      ],
      "id": "be293687-321c-4578-952b-d10ae30eed35",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "CDHOqlynWcqBitP4",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "neerajneeru388@gmail.com",
          "mode": "list",
          "cachedResultName": "neerajneeru388@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1760,
        320
      ],
      "id": "9365daae-85db-4233-aecf-f3371d558460",
      "name": "Get an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "CDHOqlynWcqBitP4",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "neerajneeru388@gmail.com",
          "mode": "list",
          "cachedResultName": "neerajneeru388@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1952,
        320
      ],
      "id": "0bfac9ad-e61d-4f83-a80a-c368f1f2cb63",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "CDHOqlynWcqBitP4",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "get audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get image url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get audio": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get image url": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "image + text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image + text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "fa53aff5-4232-4fa4-980e-cc63ba060e97",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "edd3ada104cabdcaff1b2786835bdc9443071159b866765a6fc6c07c021ab2dc"
  },
  "id": "yoAuTmCGbzUq1Nt6",
  "tags": []
}